<div class="tabcontainer" fxLayout="column">
    <mat-button-toggle-group style="width: 300px; margin-top: 10px;" fxFlex="3 3 40px" fxFlexAlign="start"
    #group="matButtonToggleGroup" [vertical]="false" fxflex>
    <mat-button-toggle style="width: 25%" matTooltip="Adwords" value="adwords" >
      <mat-icon svgIcon="xbms_adwords"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle style="width: 25%" matTooltip="LinkedIn Ads" value="linkedinads" (click)="getLinkedin()">
      <mat-icon svgIcon="xbms_linkedin"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle style="width: 25%" matTooltip="Facebook Ads" value="facebookads" (click)="getFacebook()">
      <mat-icon svgIcon="xbms_facebook"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle style="width: 25%" matTooltip="Twitter Ads" value="twitterads" (click)="getTwitter()">
      <mat-icon svgIcon="xbms_twitter"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

<div *ngIf="group.value == 'adwords'" fxLayout="column" style="width: 100%;" fxFlex>
    <mat-card>
      <mat-card-content>
        <label>Adwords Account</label>
        <table>
          <tr>
            <td>
              <mat-form-field class="form-full-width">
                <mat-select placeholder="Select Adwords Account" [(value)]="adwordsoption">
                  <mat-option *ngFor="let Adwords of Adwords" [value]="Adwords">
                    {{ Adwords.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-full-width">
                <mat-select placeholder="Select Publication" [(value)]="adwordsoption">
                  <mat-option *ngFor="let Adwords of Adwords" [value]="Adwords">
                    {{ Adwords.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="form-full-width">
                <mat-select placeholder="Select Language" [(value)]="adwordsoption">
                  <mat-option *ngFor="let Adwords of Adwords" [value]="Adwords">
                    {{ Adwords.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <button a mat-raised-button (click)="getAdwordsCampaign()">
          get Campaigns
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card style="width: 60%; margin:10px; float: left;">
      <mat-card-content>
        <form>
          <table class="form-full-width">
            <tr>
              <th>
                <label>Ads</label>
              </th>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput #message maxlength="30" placeholder="Read our Whitepaper" />
                  <mat-hint align="start">
                    <strong>Headline 1</strong>
                  </mat-hint>
                  <mat-hint align="end">{{ message.value.length }} / 30</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput #message maxlength="30" placeholder="News Feeds" />
                  <mat-hint align="start">
                    <strong>Headline 2</strong>
                  </mat-hint>
                  <mat-hint align="end">{{ message.value.length }} / 30</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr rowspan="4">
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput #message maxlength="80" placeholder="What we do" />
                  <mat-hint align="start">
                    <strong>Description</strong>
                  </mat-hint>
                  <mat-hint align="end">{{ message.value.length }} / 80</mat-hint>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <button a mat-raised-button (click)="publishAdwordsCampaign()">
          Publish
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card style="width: 28%; margin:10px; float: right;">
      <mat-card-content>
        <form>
          <table>
            <tr>
              <th>
                <label>Keywords</label>
              </th>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <span matPrefix>€</span>
                  <input type="number" matInput placeholder="  Default Bid" />
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </td>
            </tr>
            <tr rowspan="4">
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput #message maxlength="80" placeholder="Keywords" />
                  <mat-hint align="start">
                    <strong>Keywords</strong>
                  </mat-hint>
                  <mat-hint align="end">{{ message.value.length }} / 80</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <button a mat-raised-button (click)="publishAdwordsCampaign()">
                  copy from tags
                </button>
              </td>
            </tr>
          </table>
        </form>
        <button a mat-raised-button (click)="publishAdwordsCampaign()">
          Publish
        </button>
      </mat-card-content>
    </mat-card>
  </div>


  <div *ngIf="group.value == 'linkedinads'" fxLayout="column" style="width: 100%;" fxFlex>

  </div>


  <div *ngIf="group.value == 'facebookads'" fxLayout="column" style="width: 100%;" fxFlex>
    <button a mat-raised-button (click)="getAdssdk()">Check ads</button>
  </div>
  

<div *ngIf="group.value == 'twitterads'" fxLayout="column" style="width: 100%;" fxFlex>

</div>

</div>