<div class="tabcontainer">



  <speed-dial-fab matTooltip="Add new message" class="speed-dial-container"
    [reverse-column-direction]="true" (fabClick)="onSpeedDialFabClicked($event)" [buttons]="speedDialFabButtons">
  </speed-dial-fab>

  <div fxLayout="row">
    <div fxLayout="column" fxFlex="20%">
      <h4>Search</h4>
      <p>
        <mat-form-field>
          <input matInput #searchTerm id="seach-box" (keyup.enter)="searchChannels(searchTerm.value)"
            placeholder="Channel" />
        </mat-form-field>
      </p>
      <p>{{this.errorMessage}}</p>

      <button a mat-raised-button color="primary" (click)="searchChannels(searchTerm.value)">
        <mat-icon>search</mat-icon>Search Result
      </button>
      <button a mat-raised-button (click)="getChannels()">Show All</button>


      <div class="listcontainer">
        <div class="box" *ngFor="let Channels of Channels; let i = index" (click)="onSelectChannels(Channels)"
          [class.selected]="Channels === selectedChannel">
          <table style="width: 100%;">
            <tr>
              <mat-icon *ngIf="Channels.type === 'facebook'" svgIcon="xbms_facebook"></mat-icon>
              <mat-icon *ngIf="Channels.type === 'twitter'" svgIcon="xbms_twitter"></mat-icon>
              <mat-icon *ngIf="Channels.type === 'linkedin'" svgIcon="xbms_linkedin"></mat-icon>
              <mat-icon *ngIf="Channels.type === 'instagram'" svgIcon="xbms_instagram"></mat-icon>
              <mat-icon *ngIf="Channels.type === 'pinterest'" svgIcon="xbms_pinterest"></mat-icon>
              <span style="margin-left: 5px">{{Channels.title}}</span>
            </tr>
            <tr style="text-align: right;">
              <mat-icon *ngIf="Channels.primarychannel" class="iconsize-14">bookmark</mat-icon>
              <mat-icon *ngIf="Channels.recurrence" class="iconsize-14">autorenew</mat-icon>
              <mat-icon *ngIf="Channels.scheduled" class="iconsize-14">calendar_today</mat-icon>
              <mat-icon *ngIf="Channels.send" class="iconsize-14">done</mat-icon>
            </tr>
          </table>
        </div>
      </div>
    </div>



    <div class="relationcontainer" fxFlex="80%" *ngIf="selectedChannel" onblur="saveChannel()">
      <mat-toolbar color="primary" class="titlebox">
        <div>
          <h2>{{selectedChannel.title | uppercase}}</h2>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menucall" class="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menucall="matMenu">
          <button mat-menu-item (click)="openDialogDeleteChannel()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="createMailing()">
            <mat-icon>note_add</mat-icon>
            <span>New</span>
          </button>
        </mat-menu>
      </mat-toolbar>


      <!-- Form Linkedin_______________________________ -->

      <mat-card *ngIf="linkedintoggle">
        <mat-card-content>
          <table style="width: 100%">
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput [(ngModel)]=selectedChannel.title [disabled]="selectedChannel.scheduled"
                    placeholder="Title" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Set Date
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <label>Date/Start Date</label>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <label matTooltip="End date of recurrent event">End date</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-datepicker matTooltip="Send day or the day a recurrent event should start" #picker5
                          class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker5" [(ngModel)]=selectedChannel.date
                          placeholder="(start/send) date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker5></mat-datepicker>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-datepicker #picker6 class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker6" [(ngModel)]=selectedChannel.enddate>
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker6></mat-datepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox matInput [(ngModel)]=selectedChannel.recurrence>
                          Recurrence
                        </mat-checkbox>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.interval placeholder="Interval"
                            class="InputField">
                            <mat-option matInput value="month">Every Month</mat-option>
                            <mat-option matInput value="week">Every Week</mat-option>
                            <mat-option matInput value="day">Every Day</mat-option>
                            <mat-option matInput value="year">Every Year</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td>
                        <label>Send Every</label>
                      </td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.dayinterval placeholder="Day of the Week"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'week'">
                            <mat-option matInput value=1>Monday</mat-option>
                            <mat-option matInput value=2>Tuesday</mat-option>
                            <mat-option matInput value=3>Wednesday</mat-option>
                            <mat-option matInput value=4>Thursday</mat-option>
                            <mat-option matInput value=5>Friday</mat-option>
                            <mat-option matInput value=6>Saturday</mat-option>
                            <mat-option matInput value=7>Sunday</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Timezone</label>
                      </td>
                      <td>
                        <label>Time</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field>
                          <mat-select placeholder="Timezone" [(ngModel)]="selectedChannel.timezone">
                            <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                              {{ timezone.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput [(ngModel)]=selectedChannel.timeinterval placeholder="Time" class="InputField"
                            type="time">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td><label>Month</label></td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.monthinterval placeholder="Month"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'year'">
                            <mat-option matInput value=1>1</mat-option>
                            <mat-option matInput value=2>2</mat-option>
                            <mat-option matInput value=3>3</mat-option>
                            <mat-option matInput value=4>4</mat-option>
                            <mat-option matInput value=5>5</mat-option>
                            <mat-option matInput value=6>6</mat-option>
                            <mat-option matInput value=7>7</mat-option>
                            <mat-option matInput value=8>8</mat-option>
                            <mat-option matInput value=9>9</mat-option>
                            <mat-option matInput value=10>10</mat-option>
                            <mat-option matInput value=11>11</mat-option>
                            <mat-option matInput value=12>12</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <!-- dropdown nl/de/en etc.  -->
                  <input matInput [(ngModel)]=selectedChannel.language placeholder="Target Language" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr rowspan="10">
              <td>
                <mat-form-field style="width:100%;">
                  <textarea style="width:100%; min-height: 100px;" matInput #channeltext
                    [(ngModel)]=selectedChannel.text placeholder="content">Text Version</textarea>
                  <mat-hint align="end">{{channeltext.value.length}}</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <div *ngIf="selectedChannel.pictureurl">
                <img [src]="selectedChannel.pictureurl" class="carouselimages">
                <mat-icon (click)="selectedChannel.pictureurl = ''" class="icon-label" class="iconsize-12">
                  delete</mat-icon>
              </div>
              <app-fileupload *ngIf="!selectedChannel.pictureurl" [account]="account" [option]="option"
                (imgurl)="setImage($event)">
              </app-fileupload>
            </tr>
            <tr>
              <td>
                <mat-select placeholder="Select Linkedin Account" [(value)]="linkedinoption">
                  <mat-option *ngFor="let Linkedin of Linkedin" [value]="Linkedin"
                    (onSelectionChange)="getLinkedinCompany()">
                    {{ Linkedin.name }}
                  </mat-option>
                </mat-select>
                <mat-select placeholder="Select companypage Account" [(value)]="selectcompanypage">
                  <mat-option *ngFor="let companypage of companypage" [value]="companypage">
                    {{ companypage.vanityName }}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr>
              <td>
                <button a mat-raised-button *ngIf="!selectedChannel.send" [disabled]="selectedChannel.scheduled"
                  (click)="scheduleChannel()">Schedule</button>
                <button a mat-raised-button (click)="getLinkedinAccount()">Check account</button>
                <button a mat-raised-button *ngIf="!selectedChannel.scheduled || !selectedChannel.send"
                  (click)="saveChannel()">Save</button>
                <button a mat-raised-button *ngIf="selectedChannel.scheduled || selectedChannel.send"
                  (click)="updateChannel()">Update</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" [disabled]="selectedChannel.scheduled"
                  (click)="postToLinkedinCompanyPage()">Publish to Company Page</button>
                <button a mat-raised-button (click)="openDialogDeleteChannel()">Delete Post</button>
              </td>
            </tr>
            <tr>
              <td>
                <ul>
                  <li>
                    <b>LinkedIn ad specs:</b>
                  </li>
                  <li>Thumbnail image size: 1200 x 627 pixels (1.91:1 ratio) displayed on mobile</li>
                  <li>Company logo: The recommended minimum logo size is 100 x 100 pixels</li>
                  <li>Primary CTA (below images): Maximum 50 characters including spaces</li>
                </ul>
              </td>
            </tr>
          </table>

        </mat-card-content>
      </mat-card>

      <!-- Form Twitter_______________________________ -->

      <mat-card *ngIf="twittertoggle">
        <mat-card-content>
          <table style="width: 100%">
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.title
                    placeholder="Title" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr *ngIf="!selectedChannel.send">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Set Date
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <label>Date/Start Date</label>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <label matTooltip="End date of recurrent event">End date</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-datepicker matTooltip="Send day or the day a recurrent event should start" #picker5
                          class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker5" [(ngModel)]=selectedChannel.date
                          placeholder="(start/send) date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker5></mat-datepicker>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-datepicker #picker6 class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker6" [(ngModel)]=selectedChannel.enddate>
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker6></mat-datepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox matInput [(ngModel)]=selectedChannel.recurrence>
                          Recurrence
                        </mat-checkbox>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.interval placeholder="Interval"
                            class="InputField">
                            <mat-option matInput value="month">Every Month</mat-option>
                            <mat-option matInput value="week">Every Week</mat-option>
                            <mat-option matInput value="day">Every Day</mat-option>
                            <mat-option matInput value="year">Every Year</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td>
                        <label>Send Every</label>
                      </td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.dayinterval placeholder="Day of the Week"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'week'">
                            <mat-option matInput value=1>Monday</mat-option>
                            <mat-option matInput value=2>Tuesday</mat-option>
                            <mat-option matInput value=3>Wednesday</mat-option>
                            <mat-option matInput value=4>Thursday</mat-option>
                            <mat-option matInput value=5>Friday</mat-option>
                            <mat-option matInput value=6>Saturday</mat-option>
                            <mat-option matInput value=7>Sunday</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Timezone</label>
                      </td>
                      <td>
                        <label>Time</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field>
                          <mat-select placeholder="Timezone" [(ngModel)]="selectedChannel.timezone">
                            <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                              {{ timezone.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput [(ngModel)]=selectedChannel.timeinterval placeholder="Time" class="InputField"
                            type="time">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td><label>Month</label></td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.monthinterval placeholder="Month"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'year'">
                            <mat-option matInput value=1>1</mat-option>
                            <mat-option matInput value=2>2</mat-option>
                            <mat-option matInput value=3>3</mat-option>
                            <mat-option matInput value=4>4</mat-option>
                            <mat-option matInput value=5>5</mat-option>
                            <mat-option matInput value=6>6</mat-option>
                            <mat-option matInput value=7>7</mat-option>
                            <mat-option matInput value=8>8</mat-option>
                            <mat-option matInput value=9>9</mat-option>
                            <mat-option matInput value=10>10</mat-option>
                            <mat-option matInput value=11>11</mat-option>
                            <mat-option matInput value=12>12</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <!-- dropdown nl/de/en etc.  -->
                  <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.language
                    placeholder="Target Language" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr rowspan="5">
              <td>
                <mat-form-field style="width:100%;">
                  <textarea [disabled]="selectedChannel.send" style="width:100%; min-height: 100px;" matInput
                    #channeltext [(ngModel)]=selectedChannel.text placeholder="content">Text Version</textarea>
                  <mat-hint align="end">{{channeltext.value.length}}</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <div *ngIf="selectedChannel.pictureurl">
                <img [src]="selectedChannel.pictureurl" class="carouselimages">
                <mat-icon (click)="selectedChannel.pictureurl = ''" class="icon-label" class="iconsize-12">
                  delete</mat-icon>
              </div>
              <app-fileupload *ngIf="!selectedChannel.pictureurl" [account]="account" [option]="option"
                (imgurl)="setImage($event)">
              </app-fileupload>
            </tr>
            <tr>
              <td>
                <mat-select placeholder="Select Twitter Account" [(value)]="twitteroption">
                  <mat-option [disabled]="selectedChannel.send" *ngFor="let Twitter of Twitter" [value]="Twitter">
                    {{ Twitter.name }}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr>
              <td>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="saveChannel()">Save</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="scheduleChannel()">Schedule</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="postToTwitter()">Tweet</button>
                <button a mat-raised-button (click)="openDialogDeleteChannel(i)">Delete Post</button>
              </td>
            </tr>
            <br>
            <tr *ngIf="selectedChannel.send">
              <mat-icon matBadge="{{selectedChannel.likes}}">sentiment_satisfied_alt</mat-icon>Favorites
              <mat-icon matBadge="{{selectedChannel.shared}}">cached</mat-icon>Retweets
            </tr>
            <tr>
              <td>
                <ul>
                  <li>
                    <b>Twitter ad specs:</b>
                  </li>
                  <li>Tweet copy: 116 characters are available (24 characters are used for the link)</li>
                  <li>Hashtag: 21 characters</li>
                  <li>Headline: 23 characters</li>
                </ul>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>


      <!-- Form Facebook_______________________________ -->
      <mat-card *ngIf="facebooktoggle">
        <mat-card-content>
          <table style="width: 100%">
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.title
                    placeholder="Title" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr *ngIf="!selectedChannel.send">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Set Date
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <label>Date/Start Date</label>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <label matTooltip="End date of recurrent event">End date</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-datepicker matTooltip="Send day or the day a recurrent event should start" #picker5
                          class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker5" [(ngModel)]=selectedChannel.date
                          placeholder="(start/send) date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker5></mat-datepicker>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-datepicker #picker6 class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker6" [(ngModel)]=selectedChannel.enddate>
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker6></mat-datepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox matInput [(ngModel)]=selectedChannel.recurrence>
                          Recurrence
                        </mat-checkbox>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.interval placeholder="Interval"
                            class="InputField">
                            <mat-option matInput value="month">Every Month</mat-option>
                            <mat-option matInput value="week">Every Week</mat-option>
                            <mat-option matInput value="day">Every Day</mat-option>
                            <mat-option matInput value="year">Every Year</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td>
                        <label>Send Every</label>
                      </td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.dayinterval placeholder="Day of the Week"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'week'">
                            <mat-option matInput value=1>Monday</mat-option>
                            <mat-option matInput value=2>Tuesday</mat-option>
                            <mat-option matInput value=3>Wednesday</mat-option>
                            <mat-option matInput value=4>Thursday</mat-option>
                            <mat-option matInput value=5>Friday</mat-option>
                            <mat-option matInput value=6>Saturday</mat-option>
                            <mat-option matInput value=7>Sunday</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Timezone</label>
                      </td>
                      <td>
                        <label>Time</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field>
                          <mat-select placeholder="Timezone" [(ngModel)]="selectedChannel.timezone">
                            <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                              {{ timezone.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput [(ngModel)]=selectedChannel.timeinterval placeholder="Time" class="InputField"
                            type="time">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td><label>Month</label></td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.monthinterval placeholder="Month"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'year'">
                            <mat-option matInput value=1>1</mat-option>
                            <mat-option matInput value=2>2</mat-option>
                            <mat-option matInput value=3>3</mat-option>
                            <mat-option matInput value=4>4</mat-option>
                            <mat-option matInput value=5>5</mat-option>
                            <mat-option matInput value=6>6</mat-option>
                            <mat-option matInput value=7>7</mat-option>
                            <mat-option matInput value=8>8</mat-option>
                            <mat-option matInput value=9>9</mat-option>
                            <mat-option matInput value=10>10</mat-option>
                            <mat-option matInput value=11>11</mat-option>
                            <mat-option matInput value=12>12</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <!-- dropdown nl/de/en etc.  -->
                  <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.language
                    placeholder="Target Language" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr rowspan="5">
              <td>
                <mat-form-field style="width:100%;">
                  <textarea [disabled]="selectedChannel.send" style="width:100%; min-height: 100px;" matInput
                    #channeltext [(ngModel)]=selectedChannel.text placeholder="content">Text Version</textarea>
                  <mat-hint align="end">{{channeltext.value.length}}</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <div *ngIf="selectedChannel.pictureurl">
                <img [src]="selectedChannel.pictureurl" class="carouselimages">
                <mat-icon (click)="selectedChannel.pictureurl = ''" class="icon-label" class="iconsize-12">
                  delete</mat-icon>
              </div>
              <app-fileupload *ngIf="!selectedChannel.pictureurl" [account]="account" [option]="option"
                (imgurl)="setImage($event)">
              </app-fileupload>
            </tr>
            <tr>
              <td fxflex>
                <mat-select placeholder="Select Facebook Account" [(value)]="facebookoption">
                  <mat-option (onSelectionChange)="getFBAccountInfo()" [disabled]="selectedChannel.send"
                    *ngFor="let Facebook of Facebook" [value]="Facebook">
                    {{ Facebook.name }}
                  </mat-option>
                </mat-select>
                <mat-progress-spinner *ngIf="waitingforfbpages" [diameter]="20" [mode]="indeterminate">
                </mat-progress-spinner>
                <mat-select placeholder="Select companypage Account" [(value)]="selectcompanypage">
                  <mat-option *ngFor="let companypage of companypage" [value]="companypage">
                    {{ companypage.name }}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr>
              <td>
                <!-- <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="getFBAccountInfo()">Get Accounts</button> -->
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="saveChannel()">Save</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="scheduleChannel()">Schedule</button>
                <!-- <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="postToFacebook()">Post</button> -->
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="postToFacebookPage()">Post to
                  page</button>
                <button a mat-raised-button (click)="openDialogDeleteChannel(i)">Delete Post</button>
              </td>
            </tr>
            <br>
            <tr *ngIf="selectedChannel.send">
              <mat-icon matBadge="{{selectedChannel.likes}}">sentiment_satisfied_alt</mat-icon>Favorites
              <mat-icon matBadge="{{selectedChannel.shared}}">cached</mat-icon>Retweets
            </tr>

          </table>
        </mat-card-content>
      </mat-card>


      <!-- Form Instagram_______________________________ -->
      <mat-card *ngIf="instagramtoggle"> 
        <!-- on-focusout="saveChannel()" -->
        <mat-card-content>
          <table style="width: 100%">
              <tr>
                  <td>
                    <mat-form-field class="form-full-width">
                      <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.title
                        placeholder="Title" class="InputField">
                    </mat-form-field>
                  </td>
                </tr>
            <tr *ngIf="!selectedChannel.send">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Set Date
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <label>Date/Start Date</label>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <label matTooltip="End date of recurrent event">End date</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-datepicker matTooltip="Send day or the day a recurrent event should start" #picker5
                          class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker5" [(ngModel)]=selectedChannel.date
                          placeholder="(start/send) date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker5></mat-datepicker>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-datepicker #picker6 class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker6" [(ngModel)]=selectedChannel.enddate>
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker6></mat-datepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox matInput [(ngModel)]=selectedChannel.recurrence>
                          Recurrence
                        </mat-checkbox>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.interval placeholder="Interval"
                            class="InputField">
                            <mat-option matInput value="month">Every Month</mat-option>
                            <mat-option matInput value="week">Every Week</mat-option>
                            <mat-option matInput value="day">Every Day</mat-option>
                            <mat-option matInput value="year">Every Year</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td>
                        <label>Send Every</label>
                      </td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.dayinterval placeholder="Day of the Week"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'week'">
                            <mat-option matInput value=1>Monday</mat-option>
                            <mat-option matInput value=2>Tuesday</mat-option>
                            <mat-option matInput value=3>Wednesday</mat-option>
                            <mat-option matInput value=4>Thursday</mat-option>
                            <mat-option matInput value=5>Friday</mat-option>
                            <mat-option matInput value=6>Saturday</mat-option>
                            <mat-option matInput value=7>Sunday</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Timezone</label>
                      </td>
                      <td>
                        <label>Time</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field>
                          <mat-select placeholder="Timezone" [(ngModel)]="selectedChannel.timezone">
                            <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                              {{ timezone.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput [(ngModel)]=selectedChannel.timeinterval placeholder="Time" class="InputField"
                            type="time">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td><label>Month</label></td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.monthinterval placeholder="Month"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'year'">
                            <mat-option matInput value=1>1</mat-option>
                            <mat-option matInput value=2>2</mat-option>
                            <mat-option matInput value=3>3</mat-option>
                            <mat-option matInput value=4>4</mat-option>
                            <mat-option matInput value=5>5</mat-option>
                            <mat-option matInput value=6>6</mat-option>
                            <mat-option matInput value=7>7</mat-option>
                            <mat-option matInput value=8>8</mat-option>
                            <mat-option matInput value=9>9</mat-option>
                            <mat-option matInput value=10>10</mat-option>
                            <mat-option matInput value=11>11</mat-option>
                            <mat-option matInput value=12>12</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <!-- dropdown nl/de/en etc.  -->
                  <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.language
                    placeholder="Target Language" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr rowspan="5">
              <td>
                <mat-form-field style="width:100%;">
                  <textarea [disabled]="selectedChannel.send" style="width:100%; min-height: 100px;" matInput
                    #channeltext [(ngModel)]=selectedChannel.text placeholder="content">Text Version</textarea>
                  <mat-hint align="end">{{channeltext.value.length}}</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <div *ngIf="selectedChannel.pictureurl">
                <img [src]="selectedChannel.pictureurl" class="carouselimages">
                <mat-icon (click)="selectedChannel.pictureurl = ''" class="icon-label" class="iconsize-12">
                  delete</mat-icon>
              </div>
              <app-fileupload *ngIf="!selectedChannel.pictureurl" [account]="account" [option]="option"
                (imgurl)="setImage($event)">
              </app-fileupload>
            </tr>
            <tr>
              <ul>
                <li>
                  <b>Instagram ad specs:</b>
                </li>
                <li>Caption: Text only, max 2,200 characters</li>
                <li>Image size: 1080 x 1080 pixels</li>
                <li>Limited support for landscape format</li>
              </ul>
            </tr>
            <tr>
              <td fxflex>
                <mat-select placeholder="Select Facebook Account" [(value)]="facebookoption">
                  <mat-option (onSelectionChange)="getFBAccountInfo()" [disabled]="selectedChannel.send"
                    *ngFor="let Facebook of Facebook" [value]="Facebook">
                    {{ Facebook.name }}
                  </mat-option>
                </mat-select>
                <mat-progress-spinner *ngIf="waitingforfbpages" [diameter]="20" [mode]="indeterminate">
                </mat-progress-spinner>
                <mat-select placeholder="Select companypage Account" [(value)]="selectcompanypage">
                  <mat-option *ngFor="let companypage of companypage" [value]="companypage">
                    {{ companypage.name }}
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="saveChannel()">Save</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="scheduleChannel()">Schedule</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="postToInstagram()">Post</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="postVideoToInstragram()">Post Video</button>
                <button a mat-raised-button (click)="openDialogDeleteChannel(i)">Delete Post</button>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>

      <!-- Form Pinterest_______________________________ -->
      <mat-card *ngIf="pinteresttoggle">
        <mat-card-content>
          <table style="width: 100%">
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.title
                    placeholder="Title" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr *ngIf="!selectedChannel.send">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Set Date
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table style="width: 100%">
                    <tr>
                      <td>
                        <label>Date/Start Date</label>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <label matTooltip="End date of recurrent event">End date</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-datepicker matTooltip="Send day or the day a recurrent event should start" #picker5
                          class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker5" [(ngModel)]=selectedChannel.date
                          placeholder="(start/send) date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker5></mat-datepicker>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-datepicker #picker6 class="form-half-width"></mat-datepicker>
                        <input [matDatepicker]="myDatepicker6" [(ngModel)]=selectedChannel.enddate>
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker6></mat-datepicker>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox matInput [(ngModel)]=selectedChannel.recurrence>
                          Recurrence
                        </mat-checkbox>
                      </td>
                      <td *ngIf="selectedChannel.recurrence">
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.interval placeholder="Interval"
                            class="InputField">
                            <mat-option matInput value="month">Every Month</mat-option>
                            <mat-option matInput value="week">Every Week</mat-option>
                            <mat-option matInput value="day">Every Day</mat-option>
                            <mat-option matInput value="year">Every Year</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td>
                        <label>Send Every</label>
                      </td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.dayinterval placeholder="Day of the Week"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'week'">
                            <mat-option matInput value=1>Monday</mat-option>
                            <mat-option matInput value=2>Tuesday</mat-option>
                            <mat-option matInput value=3>Wednesday</mat-option>
                            <mat-option matInput value=4>Thursday</mat-option>
                            <mat-option matInput value=5>Friday</mat-option>
                            <mat-option matInput value=6>Saturday</mat-option>
                            <mat-option matInput value=7>Sunday</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Timezone</label>
                      </td>
                      <td>
                        <label>Time</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field>
                          <mat-select placeholder="Timezone" [(ngModel)]="selectedChannel.timezone">
                            <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                              {{ timezone.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field>
                          <input matInput [(ngModel)]=selectedChannel.timeinterval placeholder="Time" class="InputField"
                            type="time">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr *ngIf="selectedChannel.recurrence">
                      <td><label>Month</label></td>
                      <td>
                        <mat-form-field class="form-full-width">
                          <!-- dropdown nl/de/en etc.  -->
                          <mat-select matInput [(ngModel)]=selectedChannel.monthinterval placeholder="Month"
                            class="InputField"
                            [disabled]="selectedChannel.recurrence && selectedChannel.interval !== 'year'">
                            <mat-option matInput value=1>1</mat-option>
                            <mat-option matInput value=2>2</mat-option>
                            <mat-option matInput value=3>3</mat-option>
                            <mat-option matInput value=4>4</mat-option>
                            <mat-option matInput value=5>5</mat-option>
                            <mat-option matInput value=6>6</mat-option>
                            <mat-option matInput value=7>7</mat-option>
                            <mat-option matInput value=8>8</mat-option>
                            <mat-option matInput value=9>9</mat-option>
                            <mat-option matInput value=10>10</mat-option>
                            <mat-option matInput value=11>11</mat-option>
                            <mat-option matInput value=12>12</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-full-width">
                  <!-- dropdown nl/de/en etc.  -->
                  <input matInput [disabled]="selectedChannel.send" [(ngModel)]=selectedChannel.language
                    placeholder="Target Language" class="InputField">
                </mat-form-field>
              </td>
            </tr>
            <tr rowspan="5">
              <td>
                <mat-form-field style="width:100%;">
                  <textarea [disabled]="selectedChannel.send" style="width:100%; min-height: 100px;" matInput
                    #channeltext [(ngModel)]=selectedChannel.text placeholder="content">Text Version</textarea>
                  <mat-hint align="end">{{channeltext.value.length}}</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <div *ngIf="selectedChannel.pictureurl">
                <img [src]="selectedChannel.pictureurl" class="carouselimages">
                <mat-icon (click)="selectedChannel.pictureurl = ''" class="icon-label" class="iconsize-12">
                  delete</mat-icon>
              </div>
              <app-fileupload *ngIf="!selectedChannel.pictureurl" [account]="account" [option]="option"
                (imgurl)="setImage($event)">
              </app-fileupload>
            </tr>
            <tr>
                <mat-select placeholder="Select Pinterest Board" [(value)]="pinterestoption">
                  <mat-option (onSelectionChange)="getPinterestBoard()" *ngFor="let Pinterest of Pinterest" [value]="Pinterest" [disabled]="selectedChannel.send">
                    {{ Pinterest.name }}
                  </mat-option>
                </mat-select>
                <mat-progress-spinner *ngIf="waitingforfbpages" [diameter]="20" [mode]="indeterminate"></mat-progress-spinner>
                <mat-select placeholder="Select pinterest board" [(value)]="selectpinterestboard">
                  <mat-option *ngFor="let pinterestboard of pinterestboard" [value]="pinterestboard">
                    {{ pinterestboard.name }}
                  </mat-option>
                </mat-select>
            </tr>
            <tr>
              <button a mat-raised-button (click)="getPinterstPins()">get pins</button>
            </tr>
            <tr>
              <td>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="saveChannel()">Save</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="scheduleChannel()">Schedule</button>
                <button a mat-raised-button *ngIf="!selectedChannel.send" (click)="posttoPinterestBoard()">Pin</button>
                <button a mat-raised-button (click)="openDialogDeleteChannel(i)">Delete Post</button>
              </td>
            </tr>
            <br>
            <tr *ngIf="selectedChannel.send">
              <!-- <mat-icon matBadge="{{selectedChannel.likes}}">sentiment_satisfied_alt</mat-icon>Favorites
              <mat-icon matBadge="{{selectedChannel.shared}}">cached</mat-icon>Retweets -->
            </tr>
            <tr>
              <td>
                <ul>
                  <li>
                    <b>Twitter ad specs:</b>
                  </li>
                  <li>Tweet copy: 116 characters are available (24 characters are used for the link)</li>
                  <li>Hashtag: 21 characters</li>
                  <li>Headline: 23 characters</li>
                </ul>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>

    </div>



  </div>