
<div style="width: 100px; height: 100px;" [ngStyle]="teststyle"></div>
<input [(ngModel)]="teststyle['background-color']">


<div class="topview">
    <div *ngIf="router.url !== '/login' && router.url.indexOf('filemanager') === -1" >
        <button mat-stroked-button color="primary" (click)="sidenav.open()" 
        [class.menubuttonsmall]="isVisible === false "
        [class.menubuttonscroll]="isVisible === true ">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxShow.xs="false" *ngIf="router.url !== '/login' && router.url.indexOf('filemanager') === -1" class="logobox">
        <img routerLink="/dashboard" src="assets/xbms-allwhite.png" class="logo">
    </div>

    <mat-sidenav-container class="sidenav-container" >
        <mat-sidenav #sidenav mode="over">

            <mat-nav-list class="sidenav-menu-links">
                <mat-list-item>
                    <mat-icon>insert_chart</mat-icon>
                    <a mat-list-item routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>contact_phone</mat-icon>
                    <a mat-list-item routerLink="/relation" routerLinkActive="active">RELATIONS</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>share</mat-icon>
                    <a mat-list-item routerLink="/marketing" routerLinkActive="active">MARKETING</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>assignment</mat-icon>
                    <a mat-list-item routerLink="/marketingplanner" routerLinkActive="active">MARKETING PLANNER</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>settings</mat-icon>
                    <a mat-list-item routerLink="/settings" routerLinkActive="active">SETTINGS</a>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <a mat-list-item (click)="logout()" routerLinkActive="active">Log Out</a>
                </mat-list-item>
            </mat-nav-list>
            <br>
            <button *ngIf="Pwa.promptEvent" mat-stroked-button color="primary" (click)="installPwa()">
                    <mat-icon>install</mat-icon>Install</button>

            <img  src="assets/xbms.png" class="menulogo">
        </mat-sidenav>

        <!-- onscroll="changemenu()" not used-->
        <mat-sidenav-content class="sidenav-content" [class.backgroundcontainer]="router.url == '/login'">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>