<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1 mat-dialog-title>Add Mail: {{data.templatemailing.title}}</h1>
        </mat-card-title>
    </mat-card-header>

    <mat-button-toggle-group style="width: 100%" fxFlexAlign="start" #group="matButtonToggleGroup" [vertical]="false">

        <mat-button-toggle style="width: 50%" matTooltip="Add to Campaigns" value="randomcampaign"
            (click)="toggleaddtomailing(false)">
            <mat-icon>today</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle style="width: 50%" matTooltip="Create Campaign based on list" value="randommaillist"
            (click)="toggleaddtomailing(true)">
            <mat-icon>list</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <div fxLayout="row">

        <div *ngIf="group.value == 'randommaillist'" mat-dialog-content class="boxdialog1" fxFlex="50%">
            <table>
                <tr>
                    <td>
                        <button mat-button (click)="selectAllMail()">Select All</button>
                    </td>
                    <td>
                        <button mat-button (click)="deselectAllMail()">Deselect All</button>
                    </td>
                </tr>
                <tr>
                    <td>
                          <mat-form-field>
                            <mat-label>Select category</mat-label>
                            <mat-select (selectionChange)="setCatFilter($event.value)">
                                <mat-option *ngFor="let category of Category" [value]="category">
                                    {{category}}
                                  </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                    <td>
                        <button mat-raised-button (click)="resetfilter()">reset</button>
                    </td>
                </tr>
            </table>

            <div *ngFor="let mailingList of mailinglistselection; let i1 = index ">
                <table>
                    <tr>
                        <td>
                            <mat-checkbox [(ngModel)]="checkboxlistmail[i1]" (click)="onAddMailinglist(i1)">
                            </mat-checkbox>
                        </td>
                        <td><span class="box">{{mailingList.listname}} </span><span class="box" style="font-style: italic"> {{mailingList.total}}</span></td>
                        </tr>
                </table>
            </div>
        </div>

        <div *ngIf="group.value == 'randomcampaign'" mat-dialog-content class="boxdialog1" fxFlex="50%">
            <table>
                <tr>
                    <td>
                        <button mat-button (click)="selectAllCamp()">Select All</button>
                    </td>
                    <td>
                        <button mat-button (click)="deselectAllCamp()">Deselect All</button>
                    </td>
                </tr>
            </table>

            <div *ngFor="let campaignList of data.campaignLists; let i2 = index ">
                <table>
                    <tr>
                        <td>
                            <mat-checkbox [(ngModel)]="checkboxlistcamp[i2]" (click)="onAddCampaignlist(i2)">
                            </mat-checkbox>
                        </td>
                        <td><span class="box">{{campaignList.name}}</span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="boxdialog2" fxFlex="50%">
            <table>
                <tr>
                    <td>
                        <mat-checkbox [(ngModel)]="data.randomize">Create Random dates and Times</mat-checkbox>
                    </td>
                </tr>
            </table>
            <table *ngIf="!data.randomize">
                <tr>
                    <td>
                        <label>Date</label>
                    </td>
                    <td>
                        <mat-datepicker #picker2 class="form-half-width"></mat-datepicker>
                        <input [min]="minDate" [max]="maxDate" [matDatepicker]="date"
                            [(ngModel)]=data.date placeholder="Send Date" (change)="changeDate()">
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                          <input matInput [(ngModel)]=data.time placeholder="Time" class="InputField"
                            type="time" (change)="changeDate()">
                        </mat-form-field>
                      </td>
                </tr>
                <tr>
                    <td><label>Timezone</label></td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Timezone" [(ngModel)]="data.timezone" (selectionChange)="changeDate()">
                                <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                                    {{ timezone.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table *ngIf="data.randomize">
                <tr>
                    <td>
                        <label>Start date</label>
                    </td>
                    <td>
                        <mat-datepicker #picker2 class="form-half-width"></mat-datepicker>
                        <input [min]="minDate" [max]="maxDate" [matDatepicker]="randomstartdate"
                            [(ngModel)]=data.startdate placeholder="Send Date">
                        <mat-datepicker-toggle matSuffix [for]="randomstartdate"></mat-datepicker-toggle>
                        <mat-datepicker #randomstartdate></mat-datepicker>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>End date</label>
                    </td>
                    <td>
                        <mat-datepicker #picker2 class="form-half-width"></mat-datepicker>
                        <input [min]="minDate" [max]="maxDate" [matDatepicker]="randomenddate" [(ngModel)]=data.enddate
                            placeholder="Send Date">
                        <mat-datepicker-toggle matSuffix [for]="randomenddate"></mat-datepicker-toggle>
                        <mat-datepicker #randomenddate></mat-datepicker>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Day of the Week</label>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Days for sending" [formControl]="daysform" multiple
                                [(ngModel)]=data.dayoftheweek>
                                <mat-option *ngFor="let day of days" [value]="day.value">{{day.viewValue}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><label>starthour</label>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Start Time" [(ngModel)]=data.starthour>
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">{{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><label>endhour</label>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="End Time" [(ngModel)]=data.endhour>
                                <mat-option *ngFor="let hour of hours" [value]="hour.value">{{hour.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><label>Timezone</label></td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Timezone" [(ngModel)]="data.timezone">
                                <mat-option *ngFor="let timezone of timezones" [value]="timezone.value">
                                    {{ timezone.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <table class="followupmail">
                <tr>
                    <td>
                        <label>Add Follow up Mail</label>
                    </td>
                    <td>
                        <mat-select placeholder="Add Follow up Mail" [(ngModel)]=data.followupmailing>
                            <mat-option *ngFor="let Mailing of data.Mailing" [value]='Mailing.id'>
                                {{ Mailing.subject }} {{ Mailing.date }}
                            </mat-option>
                        </mat-select>
                    </td>
                </tr>
                <tr>
                    <td>How many days after first email (the first consequent day avaialble)</td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Send follow up days after" [(ngModel)]=data.followupdays>
                                <mat-option *ngFor="let followupDay of followupdays" [value]="followupDay.value">
                                    {{followupDay.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-form-field>
                            <mat-select [(ngModel)]="data.openclickedorall">
                                <mat-option value="all">All</mat-option>
                                <mat-option value="clicked">Clicked</mat-option>
                                <mat-option value="opened">Opened</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add Mailing</button>
    </div>

</mat-card>