

<div
  fxLayout="column"
  fxLayoutWrap="wrap"
  fxLayoutAlign="space-around"
  class="home-wrapper"
>

  <div fxFlex="100%" fxLayout="column">
    <mat-card>
      <mat-card-content>
        <div style="margin-left: 100px" fxFlex fxShow.xs="false">

          <tr>
            <td>
              <mat-icon>person</mat-icon> Welcome back, {{ Account.username }}
            </td>
          </tr>
          <tr>
            <td><mat-icon>work</mat-icon> {{ Account.companyname }}</td>
          </tr>
          <tr>
            <td>
              <mat-icon>schedule</mat-icon> Last login:
              {{ Account.lastlogin | date: "medium" }}
            </td>
          </tr>
        </div>

    

        <div fxFlex class="selectrelation">
          <tr>
            <td>
              <mat-form-field class="selectboxheader">
                <input
                  type="text"
                  placeholder="Select Relation"
                  aria-label="relation"
                  matInput
                  [formControl]="myControl"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="displayFn"
                >
                  <mat-option
                    *ngFor="
                      let option of filteredOptions | async;
                      let i = index
                    "
                    [value]="option"
                    (blur)="getAnalyticsAccounts(option, i)"
                  >
                    {{ option.relationname }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="selectboxheader">
                <mat-select
                  [(ngModel)]="selectedanalytics.name"
                  placeholder="GA Account"
                  class="InputField"
                  (blur)="buildDashboard()"
                >
                  <mat-option
                    *ngFor="let selectedanalytics of GoogleanalyticsModel"
                    [value]="selectedanalytics"
                  >
                    {{ selectedanalytics.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    fxLayout
    fxLayout="column"
    fxLayoutWrap="wrap"
    fxLayoutAlign="space-around"
  >
    <div fxFlex="5%">
      <td>
        <h3 class="mat-h3">Selected Account: {{ option.relationname }}</h3>
      </td>
    </div>

    <div
      fxFlex="30%"
      fxLayout.lt-md="column"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="space-around"
    >
      <div fxFlex="40%" class="innerfollowup">
        <a
          mat-mini-fab
          color="primary"
          style="float: right;"
          (click)="getLogs()"
        >
          <mat-icon>refresh</mat-icon>
        </a>
        <label class="mat-h4">Logs</label>
        <mat-divider></mat-divider>
        <table class="websitedata">
          <tr
            fxLayout="column"
            fxLayoutWrap="wrap"
            fxLayoutAlign="space-around"
          >
            <mat-list-item>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">User</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Subject</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">code</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Date</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr"></th>
            </mat-list-item>
          </tr>
          <tr
            fxLayout="column"
            fxLayoutWrap="wrap"
            fxLayoutAlign="space-around"
            *ngFor="let logs of logger; let i = index"
          >
            <mat-list-item>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{ logs.user }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{ logs.relation }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{
                  logs.code | slice: 0:50
                }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{
                  logs.date | date: "medium"
                }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label (click)="deleteLog(i)" class="followuplist"
                  >Delete</label
                >
              </td>
            </mat-list-item>
            <mat-divider></mat-divider>
          </tr>
        </table>
      </div>

      <div fxFlex="50%" class="innerfollowup">
        <a
          mat-mini-fab
          color="primary"
          style="float: right;"
          (click)="getAdsMailing()"
        >
          <mat-icon>refresh</mat-icon>
        </a>
        <label class="mat-h4">Scheduled Mailings, Ads and Articles</label>
        <mat-divider></mat-divider>
        <table class="websitedata">
          <tr
            fxLayout="column"
            fxLayoutWrap="wrap"
            fxLayoutAlign="space-around"
          >
            <mat-list-item>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Campaign</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Subject</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">From</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Title</label>
              </th>
              <th fxFlex="20%" class="thwebsitetr">
                <label class="followuplist">Date</label>
              </th>
            </mat-list-item>
          </tr>
          <tr
            fxLayout="column"
            fxLayoutWrap="wrap"
            fxLayoutAlign="space-around"
            *ngFor="let Mailing of Mailing; let i = index"
          >
            <mat-list-item>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{
                  Mailing.marketingplannereventsIds
                }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{ Mailing.subject }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{
                  Mailing.from | slice: 0:50
                }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{ Mailing.title }}</label>
              </td>
              <td fxFlex="20%" class="tdwebsitetr">
                <label class="followuplist">{{
                  Mailing.date | date: "medium"
                }}</label>
              </td>
            </mat-list-item>
            <mat-divider></mat-divider>
          </tr>
        </table>
      </div>
    </div>

    <div
      fxFlex="30%"
      fxLayout.lt-md="column"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="space-around"
    >
      <div fxFlex="40%" class="innerfollowup">
        <label class="mat-h4">Follow Up</label>
        <mat-divider></mat-divider>
        <div>
          <mat-list class="followuptable">
            <table class="followuptableinner">
              <tr *ngFor="let Calls of Calls; let i = index">
                <mat-list-item>
                  <td class="td1">
                    <label class="followuplist">{{
                      Calls.relations.relationname
                    }}</label>
                  </td>
                  <td class="td2">
                    <label class="followuplist">{{
                      Calls.title | slice: 0:30
                    }}</label>
                  </td>
                  <td class="td3">
                    <label class="followuplist">{{
                      Calls.callbackdate | date
                    }}</label>
                  </td>
                  <td class="td4">
                    <mat-checkbox
                      class="followuplist"
                      (click)="changeFollowUp(i)"
                      [(ngModel)]="Calls.followupdone"
                    ></mat-checkbox>
                  </td>
                </mat-list-item>
                <mat-divider></mat-divider>
              </tr>
            </table>
          </mat-list>
        </div>
      </div>

      <div fxFlex="50%" class="innerfollowup">
        <a
          mat-mini-fab
          color="primary"
          style="float: right;"
          (click)="getWebsiteTracker()"
        >
          <mat-icon>refresh</mat-icon>
        </a>
        <label class="mat-h4">Website Visitors</label>
        <mat-divider></mat-divider>
        <table class="websitedata">
          <tr
            fxLayout="column"
            fxLayoutWrap="wrap"
            fxLayoutAlign="space-around"
          >
            <mat-list-item>
              <th fxFlex="25%" class="thwebsitetr">
                <label class="followuplist">Source</label>
              </th>
              <th fxFlex="25%" class="thwebsitetr">
                <label class="followuplist">Visited URL</label>
              </th>
              <th fxFlex="25%" class="thwebsitetr">
                <label class="followuplist">Address</label>
              </th>
              <th fxFlex="25%" class="thwebsitetr">
                <label class="followuplist">Date</label>
              </th>
              <th fxFlex="8%" class="thwebsitetr">
                <label class="followuplist">isp</label>
              </th>
            </mat-list-item>
          </tr>
          <tr
            fxLayout="column"
            fxLayoutWrap="wrap"
            fxLayoutAlign="space-around"
            *ngFor="let Websitetracker of Websitetracker; let i = index"
          >
            <mat-list-item>
              <td fxFlex="23%" class="tdwebsitetr">
                <label class="followuplist">{{
                  Websitetracker.companyname
                }}</label>
              </td>
              <td fxFlex="23%" class="tdwebsitetr">
                <label class="followuplist">{{
                  Websitetracker.url | slice: 0:50
                }}</label>
              </td>
              <td fxFlex="23%" class="tdwebsitetr">
                <label class="followuplist">{{ Websitetracker.street }}</label>
              </td>
              <td fxFlex="23%" class="tdwebsitetr">
                <label class="followuplist">{{
                  Websitetracker.date | date: "medium"
                }}</label>
              </td>
              <td fxFlex="8%">
                <label (click)="markisp(i)" style="font-size: 6pt"
                  >Mark isp</label
                >
              </td>
            </mat-list-item>
            <mat-divider></mat-divider>
          </tr>
        </table>
      </div>
    </div>

    <div
      fxFlex="30%"
      fxLayout.lt-md="column"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="space-around"
    >
      <div fxFlex="40%" class="doubleflex">
        <label class="mat-h4">Total Activities</label>
        <mat-divider></mat-divider>
        <div>
          <canvas
            baseChart
            #baseChartBar="base-chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          ></canvas>
        </div>
      </div>

      <div fxFlex="50%" class="doubleflex" *ngIf="mailstatsspinner">
        <label class="mat-h4">Email Activities</label>
        <mat-spinner style="margin: auto;"></mat-spinner>
      </div>

      <div fxFlex="50%" class="doubleflex" *ngIf="mailstatsspinner === false">
        <label class="mat-h4">Email Activities</label>
        <mat-divider></mat-divider>
        <div style="display: block">
          <canvas
            baseChart
            #baseMailChart="base-chart"
            [datasets]="MailChartData"
            [labels]="MailChartLabels"
            [options]="MailChartOptions"
            [legend]="MailChartLegend"
            [chartType]="MailChartType"
            (chartHover)="MailChartHovered($event)"
            (chartClick)="MailChartClicked($event)"
          ></canvas>
          <mat-select
            style="width: 200px; height: 50px;"
            placeholder="Select timeframe"
            [(value)]="mailStatsTimeSelected"
          >
            <mat-option
              *ngFor="let mailStatsTime of mailStatsTime"
              [value]="mailStatsTime"
              (blur)="getMailStats()"
            >
              {{ mailStatsTime.viewValue }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div
      fxFlex="30%"
      fxLayout.lt-md="column"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="space-around"
    >
      <div fxFlex="40%" class="doubleflex">
        <label class="mat-h4">Website Source</label>
        <mat-divider></mat-divider>
        <div>
          <canvas
            baseChart
            #baseChartDoughnut="base-chart"
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered2($event)"
            (chartClick)="chartClicked2($event)"
          ></canvas>
        </div>
      </div>

      <div fxFlex="50%" class="doubleflex">
        <label class="mat-h4">Website Source</label>
        <mat-divider></mat-divider>
        <!-- <ngx-charts-tree-map [view]="view" [scheme]="colorScheme" [results]="googleanalyticsreturn">
        </ngx-charts-tree-map> -->
      </div>
    </div>

    <div fxFlex="40%">
      <label class="mat-h4">Website Visitors by Day</label>
      <mat-divider></mat-divider>
      <div class="singleflex">
        <canvas
          baseChart
          #baseChartLine="base-chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>

    <div fxFlex="40%">
      <label class="mat-h4">Website Visitors by Region</label>
      <mat-divider></mat-divider>
      <div class="singleflex">
        <canvas
          baseChart
          #baseChartBar2="base-chart"
          [datasets]="barChart2Data"
          [labels]="barChart2Labels"
          [options]="barChart2Options"
          [legend]="barChart2Legend"
          [chartType]="barChart2Type"
          (chartHover)="chart2Hovered($event)"
          [colors]="barChart2Colors"
          (chartClick)="chart2Clicked($event)"
        ></canvas>
      </div>
    </div>

    <div
    fxFlex="30%"
       fxLayout="row"
    fxLayoutWrap="wrap"
    fxLayoutAlign="space-around">

    <div fxFlex="40%" class="doubleflex">
      <label class="mat-h4">Twitter Accounts</label>
      <mat-divider></mat-divider>
      <ngx-twitter-timeline 
      [data]=twitterselected
      [opts]="{tweetLimit: 5}"></ngx-twitter-timeline>
    </div>

    <div fxFlex="40%" class="doubleflex">
      <label class="mat-h4">Facebook Accounts</label>
      <mat-divider></mat-divider>
      <div class="fb-post" 
      data-href="https://www.facebook.com/XBmarketingServices/pages_feed/"
      data-width="40%"></div>
    </div>



  </div>
</div>
